.file_uploader {
   background-color: #e5322d;
   transition: all 0.3s ease-in-out;
   /* border-radius: 4px; */
}

.file_uploader:hover {
   background-color: #161616;
}

.file_uploader input {
   display: none;
}

.file_uploader span {
   width: 100%;
   display: flex;
   font-size: 20px;
   justify-content: center;
   letter-spacing: 1px;
   align-items: center;
   color: white;
   padding: 15px 5px;
   cursor: pointer;
   font-weight: bold;
}
